<footer>
  <div class="container no-print align-center">
{% capture md %} <https://wijaya.cc> © 2017

powered by [Vanilla JS][uri-1], [Google Cloud Speech][uri-2] and [GitHub][uri-3]

inspired by [Family][uri-4] and [Dickbutt][uri-5], avatar by [Norm the pug][uri-6]

[uri-1]: http://vanilla-js.com/ '{">":"wrap","className":"color-r"}'
[uri-2]: https://cloud.google.com/speech/ '{">":"wrap","className":"color-g"}'
[uri-3]: https://github.com/gunawanwijaya/gunawanwijaya.github.io/ '{">":"wrap","className":"color-b"}'
[uri-4]: https://www.instagram.com/p/ogbtRcn3_W/ '{">":"wrap","className":"color-c"}'
[uri-5]: https://youtu.be/AmYrTp-JdnY/ '{">":"wrap","className":"color-m"}'
[uri-6]: https://www.instagram.com/p/Z9fSDFCgzG/ '{">":"wrap","className":"color-y"}'
{% endcapture %} {{ md | markdownify }}
  </div>
</footer>
