<footer>
  <div class="container no-print align-center">
{% capture md %} <https://wijaya.cc> © 2017

powered by [Vanilla JS](http://vanilla-js.com/ "Link$ class$ color-r"), [Google Cloud Speech](https://cloud.google.com/speech/ "Link$ class$ color-g") and [GitHub](https://github.com/gunawanwijaya/gunawanwijaya.github.io/ "Link$ class$ color-b")

inspired by [Family](https://www.instagram.com/p/ogbtRcn3_W/ "Link$ class$ color-c") and [Dickbutt](https://youtu.be/AmYrTp-JdnY/ "Link$ class$ color-m"), avatar by [Norm the pug](https://www.instagram.com/p/Z9fSDFCgzG/ "Link$ class$ color-y")
{% endcapture %} {{ md | markdownify }}
  </div>
</footer>
