<header>
  <div class="container">
    <nav class="menu fixed no-print" role="menubar">
      <ul class="inline-menu">
        {% assign sorted_pages = site.pages | sort:"menu_index","last" %}
        {% for _page in sorted_pages %}{% if _page.title and _page.menu_index >= 0 %}
        <li class="{% if _page.url == page.url %}active{% endif %}">
          <a class="btn ease menu-item" href="{{ _page.url | absolute_url }}">{{ _page.title | escape }}</a>
        </li>
        {% endif %}{% endfor %}
      </ul>
    </nav>
  </div>
</header>
