---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <main role="main" aria-label="Content">
      {% if page.color_rotator != false %}<span class="rotator ease"></span>{% endif %}
      {% if page.header != false %}{% include header.html %}{% endif %}
      {{ content }}
      {% if page.footer != false %}{% include footer.html %}{% endif %}
      <div class="hide" defer-script-and-style>
        {{ page.defer }}
        <script src="{{ "/assets/js/script.js" | absolute_url }}" async="" defer=""></script>
        <script src="{{ "/assets/js/lib.js" | absolute_url }}" async="" defer=""></script>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
      </div>
    </main>
  </body>
</html>
